<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/main' ? 'active' : '' %>" href="/main">Main</a>
    </li>
      <li class="main-header__item">
        <a class="<%= path === '/users' ? 'active' : '' %>" href="/users">Users</a>
    </li>
      <li class="main-header__item">
        <a class="<%= path === '/birds' ? 'active' : '' %>" href="/birds">Birds</a>
      </li>
    </ul>
  </nav>
</header>
